<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image\jpeg" href="https://www.favicon.cc/logo3d/218607.png">
    <title>Daily View | Calendar App</title>
    <link rel="stylesheet" href="/public/css/DailyView.css">
</head>

<body>
    <div class="outer_container">
        <div class="back__button"><a href="/"> 🔙</a></div>
        <div style="display: flex;justify-content: center;">
            <img id="dateDecrement" class="left__arrow" src="http://localhost:3000/public/images/arrow.png" alt="">
            <h1 class="daily__heading" id="daily__head"></h1>
            <img id="dateIncrement" class="right__arrow" src="http://localhost:3000/public/images/arrow.png" alt="">

        </div>
        <div class="container_dailyView">
            <table cellPadding="0" cellSpacing="0">
                <tr>
                    <th>Time</th>
                    <th>Events</th>
                </tr>
                <tr>
                    <td class="time">1 AM</td>
                    <td class="event" onclick="addEvent(1)">
                        <div id="1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">2 AM</td>
                    <td class="event" onclick="addEvent(2)">
                        <div id="2">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">3 AM</td>
                    <td class="event" onclick="addEvent(3)">
                        <div id="3">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">4 AM</td>
                    <td class="event" onclick="addEvent(4)">
                        <div id="4">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">5 AM</td>
                    <td class="event" onclick="addEvent(5)">
                        <div id="5">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">6 AM</td>
                    <td class="event" onclick="addEvent(6)">
                        <div id="6">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">7 AM</td>
                    <td class="event" onclick="addEvent(7)">
                        <div id="7">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">8 AM</td>
                    <td class="event" onclick="addEvent(8)">
                        <div id="8">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">9 AM</td>
                    <td class="event" onclick="addEvent(9)">
                        <div id="9">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">10 AM</td>
                    <td class="event" onclick="addEvent(10)">
                        <div id="10">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">11 AM</td>
                    <td class="event" onclick="addEvent(11)">
                        <div id="11">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">12 PM</td>
                    <td class="event" onclick="addEvent(12)">
                        <div id="12">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">1 PM</td>
                    <td class="event" onclick="addEvent(13)">
                        <div id="13">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">2 PM</td>
                    <td class="event" onclick="addEvent(14)">
                        <div id="14">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">3 PM</td>
                    <td class="event" onclick="addEvent(15)">
                        <div id="15">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">4 PM</td>
                    <td class="event" onclick="addEvent(16)">
                        <div id="16">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">5 PM</td>
                    <td class="event" onclick="addEvent(17)">
                        <div id="17">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">6 PM</td>
                    <td class="event" onclick="addEvent(18)">
                        <div id="18">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">7 PM</td>
                    <td class="event" onclick="addEvent(19)">
                        <div id="19">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">8 PM</td>
                    <td class="event" onclick="addEvent(20)">
                        <div id="20">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">9 PM</td>
                    <td class="event" onclick="addEvent(21)">
                        <div id="21">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">10 PM</td>
                    <td class="event" onclick="addEvent(22)">
                        <div id="22">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="time">11 PM</td>
                    <td class="event" onclick="addEvent(23)">
                        <div id="23">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div>
                <h1 style="text-align: center;">Enter the Event!</h1>
                <input class="edit__input" type="text" id="editInput" name="editTitle">
                <div class="edit__details">
                    <hr>
                    <h3 id="editTime">Time</h3>
                    <h3 id="editDay">Day</h3>
                    <h3 id="editMonth">Month</h3>
                    <h3 id="editYear">Year</h3>
                    <button onclick="changeEvent(event)" id="ide" class="edit__change">Change</button>
                    <button onclick="deleteEvent()" class="edit__delete">🗑 Delete</button>
                </div>
            </div>
        </div>
    </div>


    <div id="myModal_add" class="modal__add">
        <!-- Modal content -->
        <div class="modal-content-add">
            <span class="close-add">&times;</span>
            <div>
                <h1 style="text-align: center;">Enter the Event!</h1>
                <input class="add__input" type="text" id="addInput" name="addTitle" placeholder="Type Here..">
                <div class="add__details">
                    <hr>
                    <h3 id="addTime">Time</h3>
                    <h3 id="addDay">Day</h3>
                    <h3 id="addMonth">Month</h3>
                    <h3 id="addYear">Year</h3>
                    <button onclick="addEventSubmit(event)" class="add__button">Add</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/public/js/DailyView.js"></script>

</html>