<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image\jpeg" href="https://www.favicon.cc/logo3d/218607.png">
    <title>Calendar App</title>
    <link rel="stylesheet" href="/public/css/Calendar.css">
</head>

<body>
    <div class="outer_container">
        <button onClick="logout()" class="logout_button">
            Log Out ↩
        </button>
        <div class="profile_container">
            <img src="/public/images/userProfile.png" alt="">
            <div id="profileName" class="profile_name"></div>
        </div>
        <div class="monthControl">
            <button id="prev-month" class="month_button" onclick="ChangeDateDec()"></button>
            <button id="next-month" class="month_button" onclick="ChangeDateInc()"></button>
        </div>
        <h1 class="month__year">
            <div class="flex_column">
                <img onclick="ChangeDateInc()" class="arrowUp" src="/public/images/arrow.png" alt="">
                <div id="month"></div>
                <img onclick="ChangeDateDec()" class="arrowDown" src="/public/images/arrow.png" alt="">
            </div>
            &nbsp;
            &nbsp;
            <div class="flex_column">
                <img onclick="ChangeYearInc()" class="arrowUp" src="/public/images/arrow.png" alt="">
                <div id="year"></div>
                <img onclick="ChangeYearDec()" class="arrowDown" src="/public/images/arrow.png" alt="">
            </div>
        </h1>

        <!-- <%= task.map(function(elem) { return '<a href="">' +elem + '</a>' ; }) %> -->

        <div id="month"></div>
        <div id="year"></div>

        <div id="prev-month" onclick="ChangeDateDec()"></div>
        <div id="next-month" onclick="ChangeDateInc()"></div>
        <div class="container">

            <table CELLSPACING="10" CELLPADDING="5">
                <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="first"></td>
                    <td onclick="dailyView(event);" id="second"></td>
                    <td onclick="dailyView(event);" id="third"></td>
                    <td onclick="dailyView(event);" id="fourth"></td>
                    <td onclick="dailyView(event);" id="fifth"></td>
                    <td onclick="dailyView(event);" id="sixth"></td>
                    <td onclick="dailyView(event);" id="seventh"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="eight"></td>
                    <td onclick="dailyView(event);" id="nine"></td>
                    <td onclick="dailyView(event);" id="ten"></td>
                    <td onclick="dailyView(event);" id="eleven"></td>
                    <td onclick="dailyView(event);" id="twelve"></td>
                    <td onclick="dailyView(event);" id="thirteen"></td>
                    <td onclick="dailyView(event);" id="fourteen"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="fifteen"></td>
                    <td onclick="dailyView(event);" id="sixteen"></td>
                    <td onclick="dailyView(event);" id="seventeen"></td>
                    <td onclick="dailyView(event);" id="eighteen"></td>
                    <td onclick="dailyView(event);" id="nineteen"></td>
                    <td onclick="dailyView(event);" id="twenty"></td>
                    <td onclick="dailyView(event);" id="twentyone"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="twentytwo"></td>

                    <td onclick="dailyView(event);" id="twentythree"></td>
                    <td onclick="dailyView(event);" id="twentyfour"></td>
                    <td onclick="dailyView(event);" id="twentyfive"></td>
                    <td onclick="dailyView(event);" id="twentysix"></td>
                    <td onclick="dailyView(event);" id="twentyseven"></td>
                    <td onclick="dailyView(event);" id="twentyeight"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="twentynine"></td>
                    <td onclick="dailyView(event);" id="thirty"></td>
                    <td onclick="dailyView(event);" id="thirtyone"></td>
                    <td onclick="dailyView(event);" id="thirtytwo"></td>
                    <td onclick="dailyView(event);" id="thirtythree"></td>
                    <td onclick="dailyView(event);" id="thirtyfour"></td>
                    <td onclick="dailyView(event);" id="thirtyfive"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="thirtysix"></td>
                    <td onclick="dailyView(event);" id="thirtyseven"></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div>
                <h1 id="modalHead" class="modal_head"></h1>
                <div class="edit__details">
                    <div class="modal_headings">
                        <h2>Time</h2>
                        <h2 style="margin-right: 15%;">Events</h2>
                        <h2></h2>
                    </div>
                    <hr class="modal__hr">
                    <div id="modalEvents">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalEdit" class="modal__edit">
        <!-- Modal content -->
        <div class="modal-content-edit">
            <span class="close-edit">&times;</span>
            <div>
                <h1 style="text-align: center;">Enter the Event!</h1>
                <input class="edit__input" type="text" id="editInput" name="editTitle">
                <div class="edit__details">
                    <hr>
                    <h3 id="editTime">Time</h3>
                    <h3 id="editDay">Day</h3>
                    <h3 id="editMonth">Month</h3>
                    <h3 id="editYear">Year</h3>
                    <button onclick="changeEvent(event)" id="ide" class="edit__change">Change</button>
                    <button onclick="deleteEvent()" class="edit__delete">🗑 Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"></div>

    <script src="/public/script.js"></script>
</body>

</html>