<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image\jpeg" href="https://www.favicon.cc/logo3d/218607.png">
    <title>Calendar App</title>
</head>

<body>
    <style>
        * {
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }

        .outer_container {
            font-family: "Poppins", sans-serif;
            width: 100%;
            height: 100vh;
            background-color: #21d4fd;
            background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
            position: absolute;
        }

        .container {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4%;
            height: fit-content;
            background: white;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            width: fit-content;

        }

        .logout_button {
            background: linear-gradient(45deg, #e70a0abd, #ee6b6b);
            position: absolute;
            top: 10px;
            border-radius: 25px;
            left: 10px;
            font-family: "Poppins", sans-serif;
            font-size: 13px;
        }

        .month_button {
            border-radius: 25px;
            height: 35px;
            width: 100px;
            font-weight: bold;
            background: linear-gradient(45deg, #39f8ff, #c36c89de);
            transition: 0.3s;
        }

        .month_button:hover {
            background: linear-gradient(45deg, #c36c89de, #39f8ff);
        }

        #calendar {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }

        .profile_container {
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;
        }

        .profile_img {
            width: 3em;
            border-radius: 50%;
            background-color: #4158d0;
            background-image: linear-gradient(43deg,
                    #4158d0 0%,
                    #c850c0 46%,
                    #ffcc70 100%);
            height: 3em;
        }

        table {
            width: 100%;
            margin: auto;
        }

        td {
            width: 100px;
            height: 30px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            transition: all 0.4s ease-in-out;
        }

        td:hover {
            transform: scale(1.2);
        }

        table td {
            padding: 0.5rem;
            height: 30px;
        }

        table th {
            padding: 0.5rem;
            height: 30px;
        }

        th {
            color: white;
            background: linear-gradient(45deg, #3b5ba9, #7050d8fa);
        }

        table tr td:first-child,
        table tr td:nth-child(7) {
            border-left: none;
            color: #f3eef7;
            background: linear-gradient(45deg, #7d77b8, #ee34f3a1);
        }

        table tr td:nth-child(2),
        table tr td:nth-child(3),
        table tr td:nth-child(4),
        table tr td:nth-child(5),
        table tr td:nth-child(6) {
            border-left: none;
            color: #9e7bc7;

            background: linear-gradient(45deg, #ffffff, #d2c3d2a1);
        }

        /* Removing all unwanted border
        from left hand side by calling
        all the elements in the first
        column and removing their left
        border*/
        table tr td:first-child,
        th:first-child {
            border-left: none;
        }

        /* Removing all unwanted border
        from top of the table by calling
        all the elements in first row and
        removing their top border*/
        table tr:first-child th {
            border-top: none;
        }

        /* Removing all unwanted border
        from right hand side by calling
        all the elements in last row and
        removing their right border*/
        table tr td:last-child,
        th:last-child {
            border-right: none;
        }

        /* Removing all unwanted border
        from bottom of the table by
        calling all the elements in
        last column and removing their
        bottom border*/
        table tr:last-child td {
            border-bottom: none;
        }

        button {
            border: none;
            background-color: #0e7dcf;
            color: white;
            width: 77px;
            height: 35px;
            cursor: pointer;
        }

        .monthControl {
            justify-content: space-around;
            display: flex;
            margin-top: 2%;
            margin-bottom: -5%;
        }

        .month__year {
            color: white;
            display: flex;
            text-align: center;
            justify-content: center;
            margin-top: 15px;
        }

        .flex_column {
            display: flex;
            flex-direction: column;
        }


        .arrowUp {
            width: 32px;
            justify-content: center;
            margin: auto;
            transform: rotate(-90deg);
            transition: all 0.8s ease-in-out;
        }

        .arrowUp:hover {
            transform: rotate(-450deg) scale(1.8);
        }

        .arrowDown {
            width: 32px;
            justify-content: center;
            margin: auto;
            transform: rotate(90deg);
            transition: all 0.8s ease-in-out;
        }

        .arrowDown:hover {
            transform: rotate(450deg) scale(1.8);
        }

        .today_date::before {
            content: "T";
        }

        .today_date {
            padding-bottom: 0px;
            padding-top: 2px;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            position: relative;
            margin-top: -23px;
            margin-left: 60%;
            color: white;
            text-align: center;
            background: linear-gradient(45deg, #ed5a17, #f5a110b8);
        }

        .event_date {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            background: linear-gradient(45deg, #3b5ba9, #7050d8fa);
            position: relative;
            margin-top: -23px;
            text-align: center;
            margin-left: 27%;
            color: white;
        }
    </style>
    <div class="outer_container">
        <div class="profile_container">
            <img src="/public/images/userProfile.png" alt="">
            <div id="profileName" class="profile_name"></div>
        </div>
        <div class="monthControl">
            <button id="prev-month" class="month_button" onclick="ChangeDateDec()"></button>
            <button id="next-month" class="month_button" onclick="ChangeDateInc()"></button>
        </div>
        <h1 class="month__year">
            <div class="flex_column">
                <img onclick="ChangeDateInc()" class="arrowUp" src="/public/images/arrow.png" alt="">
                <div id="month"></div>
                <img onclick="ChangeDateDec()" class="arrowDown" src="/public/images/arrow.png" alt="">
            </div>
            &nbsp;
            &nbsp;
            <div class="flex_column">
                <img onclick="ChangeYearInc()" class="arrowUp" src="/public/images/arrow.png" alt="">
                <div id="year"></div>
                <img onclick="ChangeYearDec()" class="arrowDown" src="/public/images/arrow.png" alt="">
            </div>
        </h1>

        <!-- <%= task.map(function(elem) { return '<a href="">' +elem + '</a>' ; }) %> -->

        <div id="month"></div>
        <div id="year"></div>

        <div id="prev-month" onclick="ChangeDateDec()"></div>
        <div id="next-month" onclick="ChangeDateInc()"></div>
        <div class="container">
            <button onClick="logout()" class="logout_button">
                Log Out ↩
            </button>
            <table CELLSPACING="10" cellPadding="5">
                <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="first"></td>
                    <td onclick="dailyView(event);" id="second"></td>
                    <td onclick="dailyView(event);" id="third"></td>
                    <td onclick="dailyView(event);" id="fourth"></td>
                    <td onclick="dailyView(event);" id="fifth"></td>
                    <td onclick="dailyView(event);" id="sixth"></td>
                    <td onclick="dailyView(event);" id="seventh"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="eight"></td>
                    <td onclick="dailyView(event);" id="nine"></td>
                    <td onclick="dailyView(event);" id="ten"></td>
                    <td onclick="dailyView(event);" id="eleven"></td>
                    <td onclick="dailyView(event);" id="twelve"></td>
                    <td onclick="dailyView(event);" id="thirteen"></td>
                    <td onclick="dailyView(event);" id="fourteen"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="fifteen"></td>
                    <td onclick="dailyView(event);" id="sixteen"></td>
                    <td onclick="dailyView(event);" id="seventeen"></td>
                    <td onclick="dailyView(event);" id="eighteen"></td>
                    <td onclick="dailyView(event);" id="nineteen"></td>
                    <td onclick="dailyView(event);" id="twenty"></td>
                    <td onclick="dailyView(event);" id="twentyone"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="twentytwo"></td>

                    <td onclick="dailyView(event);" id="twentythree"></td>
                    <td onclick="dailyView(event);" id="twentyfour"></td>
                    <td onclick="dailyView(event);" id="twentyfive"></td>
                    <td onclick="dailyView(event);" id="twentysix"></td>
                    <td onclick="dailyView(event);" id="twentyseven"></td>
                    <td onclick="dailyView(event);" id="twentyeight"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="twentynine"></td>
                    <td onclick="dailyView(event);" id="thirty"></td>
                    <td onclick="dailyView(event);" id="thirtyone"></td>
                    <td onclick="dailyView(event);" id="thirtytwo"></td>
                    <td onclick="dailyView(event);" id="thirtythree"></td>
                    <td onclick="dailyView(event);" id="thirtyfour"></td>
                    <td onclick="dailyView(event);" id="thirtyfive"></td>
                </tr>
                <tr>
                    <td onclick="dailyView(event);" id="thirtysix"></td>
                    <td onclick="dailyView(event);" id="thirtyseven"></td>
                </tr>

            </table>
        </div>
    </div>

    <div id="test"></div>
    <script>
        function check() {
            console.log(dateStart)
        }
        // const months = [
        //     "January",
        //     "February",
        //     "March",
        //     "April",
        //     "May",
        //     "June",
        //     "July",
        //     "August",
        //     "September",
        //     "October",
        //     "November",
        //     "December",
        // ];
        // var monthDefault = new Date().getMonth();
        // var yearDefault = new Date().getFullYear();
        // var date = new Date(`${months[monthDefault]} ${yearDefault}`);
        // var dateStart = 1;
        // var firstDay;

        // function ChangeDateDec() {
        //     console.log("yeshaa")
        //     if (date.getMonth() - 1 === -1) {
        //         date = new Date(`December  ${date.getFullYear() - 1}`);
        //     } else {
        //         date =
        //             new Date(`${months[date.getMonth() - 1]}  ${date.getFullYear()}`)
        //             ;
        //     }
        //     var prevMonth = document.getElementById("prev-month");
        //     if (date.getMonth() - 1 === -1) {
        //         prevMonth.innerHTML = "December"
        //     } else {
        //         prevMonth.innerHTML = months[date.getMonth() - 1]
        //     }
        //     // setMonth(months[date.getMonth()]);
        //     // setStartDay(date.getDay());
        // }


        // var prevMonth = document.getElementById("prev-month");
        // if (date.getMonth() - 1 === -1) {
        //     prevMonth.innerHTML = "December"
        // } else {
        //     prevMonth.innerHTML = months[date.getMonth() - 1]
        // }

        // var nextMonth = document.getElementById("next-month");
        // if (date.getMonth() === 11) {
        //     nextMonth.innerHTML = "January"
        // } else {
        //     nextMonth.innerHTML = months[date.getMonth() + 1]
        // }

        // function todayDateCheck(idCheck) {
        //     var dateCheck = document.getElementById(idCheck).innerHTML;

        //     if (dateCheck ==
        //         parseInt(
        //             new Date().toLocaleString().split(",")[0].split("/")[0]
        //         ) &&
        //         date.getMonth() ==
        //         parseInt(
        //             new Date().toLocaleString().split(",")[0].split("/")[1]
        //         ) -
        //         1 &&
        //         date.getFullYear() ==
        //         parseInt(
        //             new Date().toLocaleString().split(",")[0].split("/")[2]
        //         )) {
        //         console.log("yesh");
        //         document.getElementById(idCheck).classList.add("today_date")
        //     }
        // }

        // function addDates() {
        //     dateStart++;
        //     document.getElementById("eight").innerHTML = dateStart;
        //     todayDateCheck("eight");
        //     dateStart++;
        //     document.getElementById("nine").innerHTML = dateStart;
        //     todayDateCheck("nine");
        //     dateStart++;
        //     document.getElementById("ten").innerHTML = dateStart;
        //     todayDateCheck("ten");
        //     dateStart++;
        //     document.getElementById("eleven").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twelve").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("thirteen").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("fourteen").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("fifteen").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("sixteen").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("seventeen").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("eighteen").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("nineteen").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twenty").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twentyone").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twentytwo").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twentythree").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twentyfour").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twentyfive").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twentysix").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twentyseven").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twentyeight").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("twentynine").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("thirty").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("thirtyone").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("thirtytwo").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("thirtythree").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("thirtyfour").innerHTML = dateStart;
        //     dateStart++;
        //     document.getElementById("thirtyfive").innerHTML = dateStart;
        // }

        // switch (date.getDay()) {
        //     case 0:
        //         firstDay = document.getElementById("first");
        //         firstDay.innerHTML = 1;
        //         break;
        //     case 1:
        //         firstDay = document.getElementById("second");
        //         firstDay.innerHTML = 1;
        //         break;
        //     case 2:
        //         firstDay = document.getElementById("third");
        //         firstDay.innerHTML = 1;
        //         break;

        //     case 3:
        //         firstDay = document.getElementById("fourth");
        //         firstDay.innerHTML = 1;
        //         break;

        //     case 4:
        //         firstDay = document.getElementById("fifth");
        //         firstDay.innerHTML = 1;
        //         break;

        //     case 5:
        //         document.getElementById("sixth").innerHTML = dateStart;
        //         dateStart++;
        //         document.getElementById("seventh").innerHTML = dateStart;
        //         addDates();
        //         // firstDay.innerHTML = 1;
        //         // document.getElementById("seventh").innerHTML=;
        //         break;
        //     case 6:
        //         firstDay = document.getElementById("seventh");
        //         firstDay.innerHTML = 1;
        //         break;

        // }
        // console.log(date.getDay())
        // if (date.getDay() === 0) {
        //     return
        // }
        // var first = document.getElementById("first");
        // first.innerHTML = date;
        var b = "Nikhil";
        var a;
        fetch("https://gist.githubusercontent.com/thenickrj/8604791d527ac24f17da19c0f3bb5a23/raw/5803f18de5d14b4fe4827b829a20472fb1ac93ed/rainfall.json").then((response) => response.json()).then((data) => { console.log(data); a = data })
    </script>
    <script src="/public/script.js"></script>
</body>

</html>