* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #5123c5 #a18ed2;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #a18ed2;
}

*::-webkit-scrollbar-thumb {
  background-color: #5123c5;
}

.outer_container {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  position: absolute;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  height: fit-content;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: fit-content;
}

.logout_button {
  background: linear-gradient(45deg, #e70a0abd, #ee6b6b);
  position: relative;
  top: 10px;
  border-radius: 25px;
  left: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.month_button {
  border-radius: 25px;
  height: 35px;
  width: 100px;
  font-weight: bold;
  background: linear-gradient(45deg, #39f8ff, #c36c89de);
  transition: 0.3s;
}

.month_button:hover {
  background: linear-gradient(45deg, #c36c89de, #39f8ff);
}

#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.profile_container {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  color: white;
}

.profile_name {
  font-weight: bold;
}
.profile_img {
  width: 3em;
  border-radius: 50%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  height: 3em;
}

table {
  width: 100%;
  margin: auto;
}

td {
  width: 100px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.4s ease-in-out;
}

td:hover {
  transform: scale(1.2);
}

table td {
  padding: 0.5rem;
  height: 30px;
}

table th {
  padding: 0.5rem;
  height: 30px;
}

th {
  color: white;
  background: linear-gradient(45deg, #3b5ba9, #7050d8fa);
}

table tr td:first-child,
table tr td:nth-child(7) {
  border-left: none;
  color: #f3eef7;
  background: linear-gradient(45deg, #7d77b8, #ee34f3a1);
}

table tr td:nth-child(2),
table tr td:nth-child(3),
table tr td:nth-child(4),
table tr td:nth-child(5),
table tr td:nth-child(6) {
  border-left: none;
  color: #9e7bc7;

  background: linear-gradient(45deg, #ffffff, #d2c3d2a1);
}

/* Removing all unwanted border
from left hand side by calling
all the elements in the first
column and removing their left
border*/
table tr td:first-child,
th:first-child {
  border-left: none;
}

/* Removing all unwanted border
from top of the table by calling
all the elements in first row and
removing their top border*/
table tr:first-child th {
  border-top: none;
}

/* Removing all unwanted border
from right hand side by calling
all the elements in last row and
removing their right border*/
table tr td:last-child,
th:last-child {
  border-right: none;
}

/* Removing all unwanted border
from bottom of the table by
calling all the elements in
last column and removing their
bottom border*/
table tr:last-child td {
  border-bottom: none;
}

button {
  border: none;
  background-color: #0e7dcf;
  color: white;
  width: 77px;
  height: 35px;
  cursor: pointer;
}

.monthControl {
  justify-content: space-around;
  display: flex;
  margin-top: 6vw;
  margin-bottom: -5%;
}

.month__year {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.arrowUp {
  width: 32px;
  justify-content: center;
  margin: auto;
  transform: rotate(-90deg);
  transition: all 0.8s ease-in-out;
}

.arrowUp:hover {
  transform: rotate(-450deg) scale(1.8);
}

.arrowDown {
  width: 32px;
  justify-content: center;
  margin: auto;
  transform: rotate(90deg);
  transition: all 0.8s ease-in-out;
}

.arrowDown:hover {
  transform: rotate(450deg) scale(1.8);
}

.today_date::before {
  content: "T";
}

.today_date {
  padding-bottom: 0px;
  padding-top: 2px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  margin-top: -23px;
  margin-left: 60%;
  color: white;
  text-align: center;
  background: linear-gradient(45deg, #ed5a17, #f5a110b8);
}

.event_date {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: linear-gradient(45deg, #3b5ba9, #7050d8fa);
  position: relative;
  margin-top: -23px;
  text-align: center;
  margin-left: 27%;
  color: white;
}

/* modal */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);

  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* transform: translate(-50%, -50%); */
  transition: all 150ms ease-in-out;
  animation: fadein 0.5s;
}

.modal__edit {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);

  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  min-height: 200px;
  border-radius: 15px;
}

/* Modal Content */
.modal-content-edit {
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 15px;
}

.modal_head {
  text-align: center;
}

button {
  border-radius: 15px;
  cursor: pointer;
}

h3 {
  padding: 10px;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* The Close Button */
.close-edit {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close-edit:focus,
.close-edit:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.img__res {
  width: 30px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.img__res:hover {
  transform: scale(1.2);
}

.edit__input,
.add__input {
  border: 1px solid #bebec0;
  height: 30px;
  display: block;
  justify-content: center;
  align-items: center;
  top: 25px;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
}

.edit__details,
.add__details {
  position: relative;
  text-align: center;
  margin-top: 3vw;
}

.edit__change {
  background-color: #105fdc;
  color: wheat;
  border: none;
  width: 30%;
  height: 25px;
}

.edit__delete {
  height: 25px;
  width: 30%;
  background-color: #f83c3c;
  margin-left: 5%;
  color: azure;
  border: none;
}

.add__button {
  background-color: rgb(16, 95, 220);
  color: wheat;
  border: none;
  width: 30%;
  height: 25px;
  border-radius: 10px;
}

.modal_headings {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.modal_event {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.modal__hr {
  border: 1px solid;
}

/* make the text inside the input field bold */
input[type="text"] {
  font-weight: bold;
}

@media (max-width: 700px) {
  .container {
    width: 95%;
    overflow-x: auto;
  }

  .profile_container {
    position: relative;
    margin-top: 0;
    margin-bottom: 4vw;
    color: white;
  }

  .monthControl {
    margin-top: 0;
  }
  .modal-content {
    width: 70%;
  }
  .modal-content-edit {
    width: 70%;
  }
}

/* Notify PopUp */
/* #00D8DE */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background: linear-gradient(134deg, #39f8ff, #c36c89ed);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-weight: bold;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
