* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #5123c5 #a18ed2;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #a18ed2;
}

*::-webkit-scrollbar-thumb {
  background-color: #5123c5;
}

.outer_container {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  position: absolute;
  padding-bottom: 2%;
}

.container_dailyView {
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  height: fit-content;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: fit-content;
}

table {
  margin-bottom: 5%;
  padding-top: 3%;
}

th {
  margin-top: 5%;
}

td {
  border: 1px solid aquamarine;
  padding: 0;
  margin: 0;
  border-radius: 8px;
}

.time {
  position: relative;
  top: 45%;
  border: none;
  text-align: center;
  z-index: 1;
}

.event {
  min-width: 500px;
  margin: 5px;
  height: 60px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.label {
  border: 1px solid #010118;
  margin: 5px;
  color: white;
  background-color: #4848c3;
  padding: 10px;
  white-space: nowrap;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);

  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal__add {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);

  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 15px;
}

/* Modal Content */
.modal-content-add {
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 15px;
}

button {
  border-radius: 15px;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* The Close Button */
.close-add {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close-add:focus,
.close-add:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.edit__input,
.add__input {
  border: 1px solid #bebec0;
  height: 30px;
  display: block;
  justify-content: center;
  align-items: center;
  top: 25px;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
}

.edit__details,
.add__details {
  position: relative;
  text-align: center;
  margin-top: 3vw;
}

.edit__change {
  background-color: #105fdc;
  color: wheat;
  border: none;
  width: 30%;
  height: 25px;
}

.add__button {
  background-color: rgb(16, 95, 220);
  color: wheat;
  border: none;
  width: 30%;
  height: 25px;
  border-radius: 10px;
}

h3 {
  padding: 10px;
}

.edit__delete {
  height: 25px;
  width: 30%;
  background-color: #f83c3c;
  margin-left: 5%;
  color: azure;
  border: none;
}

.back__button {
  margin: 3%;
  font-size: 40px;
}

input[type="text"] {
  font-weight: bold;
}

.daily__heading {
  text-align: center;
  color: white;
}

.left__arrow {
  cursor: pointer;
  width: 50px;
  justify-content: center;
  margin: auto;
  transform: rotate(180deg);
  transition: all 0.8s ease-in-out;
}

.left__arrow:hover {
  transform: rotate(540deg) scale(1.8);
}

.right__arrow {
  cursor: pointer;
  width: 50px;
  justify-content: center;
  margin: auto;
  transform: rotate(0deg);
  transition: all 0.8s ease-in-out;
}

.right__arrow:hover {
  transform: rotate(360deg) scale(1.8);
}

@media (max-width: 700px) {
  .container_dailyView {
    width: fit-content;
  }
  .event {
    min-width: 60vw;
  }

  .modal-content {
    width: 70%;
  }
  .modal-content-add {
    width: 70%;
  }
}

/* Notify PopUp */
/* #00D8DE */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background: linear-gradient(134deg, #39f8ff, #c36c89ed);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-weight: bold;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
