* {
  font-family: "Poppins", sans-serif;
}

.login {
  width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  top: 20px;
  position: relative;
  z-index: 99;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100%;
  z-index: 99;
  padding: 17px 10px;
  /* //transition: transform 200ms ease-in-out; */
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  background-color: #3498db;
  width: 100%;
  position: absolute;
  border-radius: 6px;
  z-index: 1;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.right-side.right {
  right: -40%;
}

.right-side:hover {
  margin: 0 -5% 0 -5%;
}

.right-side.left {
  right: 40%;
  align-items: flex-start;
}

.right-side.left:hover {
  right: 45%;
}

.text {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
}

.login_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: column;
}

.log_img_contain {
  width: 400px;
  margin-left: -48px;
}

.log_img {
  margin-left: -15px;
}

.form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.inLabel {
  font-size: 20px;
}

.login_input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  background-color: #cfcfcf9c;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}

.login_input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #0e81ce96;
}

.footer {
  margin-top: 2em;
}

.loginButton {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #2386c8;
}

.loginButton:focus {
  outline: none;
}

.alert {
  position: relative;
  padding: 5px 5px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

a {
  color: cornflowerblue;
}

a:hover {
  color: red;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.error_input {
  width: fit-content;
  height: 30px;
  /* margin: auto; */
  top: 1vw;
  position: relative;
}

.signup_redirect {
  /* margin-top: 3%; */
  padding: 4px;
  text-align: center;
}

.testLogin {
  padding-top: 3%;
  text-align: center;
}

/* Notify PopUp */
/* #00D8DE */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background: linear-gradient(134deg, #39f8ff, #c36c89ed);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-weight: bold;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
