<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image\jpeg" href="https://www.favicon.cc/logo3d/218607.png">
    <title>Signup | 📅 App</title>
    <link rel="stylesheet" href="/public/css/Signup.css">
</head>

<body>
    <div>
        <div class="login">
            <div class="container">
                <div class="login_container">
                    <div id="snackbar"></div>

                    <div class="header">Register</div>
                    <div class="content">
                        <div class="log_img_contain">
                            <img class="log_img" width="500px" height="200px" src="../public/images/signIn.svg"
                                alt="" />
                        </div>
                        <div class="form">
                            <div class="form-group">
                                <label htmlFor="username">Username</label>
                                <input id="username" class="login_input" type="text" name="username"
                                    placeholder="Username..." />
                            </div>
                            <div class="form-group">
                                <label htmlFor="email">Email</label>
                                <input id="email" class="login_input" type="email" name="email" placeholder="Email..."
                                    required />
                            </div>
                            <div class="form-group">
                                <label htmlFor="password">Password</label>
                                <input id="password" class="login_input" type="password" name="password"
                                    placeholder="Password..." required />
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <button type="button" class="loginButton" onClick="register()">
                            Register
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="login_redirect">Already have an account? <a href="/login">Click here</a> to login</div>

    <script>

    </script>
    <script src="/public/js/SignUp.js"></script>

</body>

</html>